@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Mulish';
  src: url('../fonts/Mulish-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: 'Mulish', sans-serif;
}

@layer base {
  :root {
    /* Colors */
    --primary: 45 91 255;
    --secondary: 98 132 253;
    --tertiary: 150 173 255;
    --quaternary: 236 240 255;

    --hover: 27 74 240;
    --click: 0 46 208;
    --icons: 124 123 123;
    --outline: 215 215 215;
    --divider: 237 237 237;

    --bg-light: 255 255 255;
    --bg-dark: 248 248 248;
    --bg-disabled: 239 239 239;

    --text-primary: 24 24 24;
    --text-secondary: 92 92 92;
    --text-tertiary: 116 116 116;
    --text-disabled: 138 138 138;

    /* Screens */
    --screen-mobile: 640px;
    --screen-tablet: 1024px;
    --screen-desktop: 1440px;
    --screen-widescreen: 1920px;

    /* Shadows */
    --shadow-sm: 0px 0px 10px rgba(132, 132, 132, 15%);
    --shadow-md: 0px 0px 20px rgba(132, 132, 132, 20%);
    --shadow-lg: 0px 0px 30px rgba(132, 132, 132, 25%);
    --shadow-focus: 0px 0px 0px 2px #643296;
    --shadow-outline: 0px 0px 0px 2px #E8E8E8;
    --shadow-button-focus: 0px 0px 0px 2px #AF4BFE;
    --shadow-none: 0px 0px 0px 0px rgba(0, 0, 0, 0);

    /* Blur */
    --blur:4px;

    /* Spacing */
    --spacing-none: 0px;
    --spacing-4xs: 8px;
    --spacing-2xs: 12px;
    --spacing-xs: 16px;
    --spacing-sm: 20px;
    --spacing-md: 24px;
    --spacing-lg: 32px;
    --spacing-xl: 40px;
    --spacing-2xl: 48px;
    --spacing-4xl: 56px;

    /* Border Radius */
    --radius-none: 0px;
    --radius-sm: 4px;
    --radius-md: 8px;
    --radius-lg: 16px;

    /* Font Size */
    --font-xs: 12px;
    --font-sm: 14px;
    --font-md: 16px;
    --font-lg: 18px;
    --font-xl: 20px;
  }

  .theme-violet {
    --primary: 175 75 254;
    --secondary: 190 116 249;
    --tertiary: 226 189 255;
    --quaternary: 245 232 255;
    --hover: 147 51 230;
    --click: 122 22 193;
  }
}